<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid black;
        }

        .mess {
            color: rgb(18, 24, 186);
        }

        a {
            border: 2px solid black;
            padding: 3px;
            color: blue;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>from</th>
            <th>to</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
            <th></th>
        </tr>


        <% for(let chat of data) { %>
            <tr>
                <td>
                    <%=chat._id%>
                </td>
                <td class="mess">
                    <%=chat.message%>
                </td>
                <td>
                    <i>
                        <%=chat.from%>
                    </i>
                </td>
                <td>
                    <i>
                        <%=chat.to%>
                    </i>
                </td>
                <td>
                    <%=chat.created_at.toString().split(" ").slice(1,4).join(" /")%>
                </td>
                <td>
                    <%=chat.created_at.toString().split(" ")[4]%>
                </td>
                <td>
                    <form method=" get" action="/chats/<%=chat._id%>/edit">
                        <button>edit chat</button>
                        </form>
                </td>
                <td>
                    <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/chats/<%=chat._id%>?">
                        <button>Show</button>
                    </form>
                </td>

            </tr>
            <% } %>
    </table>
    <br> <br>
    <a href="/chats/new">New Post</a>
</body>

</html>